/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

/* основной цвет  #212121; */
/* вторичный цвет #757575; */
/* Ефект Hover #2196F3; */
/* Белый #FFFFFF; */
/* Подвал rgba(255, 255, 255, 0.6); */

/* outline: 2px solid tomato; */


/* Global styles */
html {
    box-sizing: border-box;
    line-height: 0;
}
*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
body {
    background-color: var(--white-text-color);
    color: var(--primary-text-color);
    font-family: 'Roboto';
    letter-spacing: 0.03em;
    align-content: center;
}
:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --hover-text-color: #2196F3;
    --white-text-color: #FFFFFF;
    --grey-text-color: #F5F4FA;
    --icon-color: #AFB1B8;
    --footer-text-color: rgba(255, 255, 255, 0.6);

    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    font-style: normal;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

/* page header */




.page-header {
    border-bottom: 1px solid #ECECEC;
}
.main-nav {
    display: flex;
    align-items: center;
    height: 80px;
}
.navigate {
    display: flex;
    align-items: center;

}
/* site-nav */
.site-nav {
    display: flex;
    padding: 0;
    margin-left: 93px;
}
.site-nav .item:not(:last-child){
    margin-right: 50px;
}
.site-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 32px;
    padding-top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: 250ms var(--timing-function);
}
.site-nav a:hover,
.site-nav a:focus {
    color: var(--hover-text-color);
    transition: 250ms var(--timing-function);
}

.link {
    fill: var(--icon-color);
    position: relative;
}



/* Анимация Хедер */
.link::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 250ms var(--timing-function); 
}
.link:hover::after,
.link:focus::after {
    opacity: 1;
}
/* Current */
.site-nav .current {
    color: var(--hover-text-color);
}

.current::after {
    opacity: 1;
}


/* auth-nav */
.auth-nav {
    display: flex;
    margin-left: auto;
}
.auth-nav .item:not(:last-child) {
    margin-right: 50px;
}
.auth-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    transition: 250ms var(--timing-function);
}

.icon-nav {
    margin-right: 10px;
}
.item .link:hover,
.item .link:focus{
    color: var(--hover-text-color);
    fill: var(--hover-text-color);
}
/* Логотип */
.logo {
    text-decoration: none;
}
.logo-web {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--hover-text-color);
}
.logo-studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--primary-text-color);
}











/* section hero */

.hero {
    padding-top: 200px;
    padding-bottom: 200px;

    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero-title {
    text-align: center;
    padding-bottom: 30px;
    margin: 0;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text-color)
}
#hero-button{
    padding: 10px 32px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    background-color: var(--hover-text-color);
    cursor: pointer;
    border-radius: 4px;
    color: var(--white-text-color);
}

/* Modal window */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 3;
    transition: opacity 250ms var(--timing-function);
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    fill: #000000;
    transition: 250ms var(--timing-function);
}
.close:hover,
.close:focus {
    cursor: pointer;
    fill: #2196F3;
}
.modal-title {
    padding-top: 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.form-box {
    position: absolute;
    padding-top: 30px;
    top: 75px;
    left: 41px;
    right: 39px;
    bottom: 164px;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
    position: relative;
}

.form-input {
    outline: none;
    padding: 20px;
}
.form-input:focus {
    border: 1px solid #2196F3;
}
.form-lable {
    position: absolute;
    top: -17px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
}
.icon-group{
    fill: currentColor;
    position: absolute;
    margin-left: 12px;
    bottom: 50%;
    transform: translateY(50%);
}
.form-input:focus ~ .icon-group {
    fill: #188CE8;
}

.form-group input {
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 11px;
    padding-left: 42px;
}
textarea {
    width: 448px;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 11px;
    outline: none;
}
input[type='number'] {
    appearance: none;
    -moz-appearance: textfield;
}
.modal-terms {
    position: absolute;
    outline: 2px solid tomato;
    top: 437px;
    bottom: 120px;
    left: 54px;
    right: 51px;
}
/* CHeck */
.consent {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
}

.form-consert {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.consent a {
    margin-left: 7px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: #2196F3;
}

.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.checkbox:checked + .icon-check {
    background-color: #2196F3;
    background-origin: border-box;
    border-color: #2196F3;
    fill: var(--white-text-color);
}

.icon-check {
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    fill: none;
    margin-right: 7px;
}
.icon-check:hover {
    cursor: pointer;
}

.form button {
    position: absolute;
    left: 25%;
    width: 200px;
    height: 50px;
    background: #188CE8;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    line-height: 30px;
    font-size: 16px;
    letter-spacing: 0.06em;
    color: var(--white-text-color);
    cursor: pointer;
}
/* Достоинства */
.dignity {
    padding-top: 89px;
    padding-bottom: 94px;
}
.section-title {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.section-title .item {
    width: 270px;
}
.caption {
    margin-bottom: 10px;
}
.section-title h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
}
.section-title p {
    font-size: 14px;
    line-height: 1.71;
    color: var(--title-text-color);
}
.dignity-logo {
    display: flex;
    justify-content: center;
    padding: 25px 100px;
    border-radius: 4px;
    background-color: var(--grey-text-color);
    margin-bottom: 30px;
}
/* чем мы занимаемся */
.work {
    padding-bottom: 94px;
}
.container .work-item {
    display: flex;
    flex-wrap: wrap;
}
.item img {
    display: block;
}
.work-item .item:not(:last-child) {
    margin-right: 30px;
}
.section ul {
    list-style: none;
    text-decoration: none;
}
.container h2 {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
}
/* Чем мы занимаемся Overlay */
.box {
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    transition: transform 250ms ease;
}

.overlay>p {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    padding-top: 27px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* Наша команда */
.team {
    background-color: var(--grey-text-color);
    padding-bottom: 94px;
    padding-top: 94px;
}
.team-work {
    display: flex;
    flex-wrap: wrap;
}
.special {
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.special:nth-child(4n) {
    margin-right: 0;
}
.team-work .job {
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 16px;
}
.person {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 10px;
}
.job-person {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--white-text-color);
    border-radius: 0px 0px 4px 4px;
}
.network {
    text-decoration: none;
    display: inline-block;
}
.network-icon {
    width: 20px;
    height: 20px;
}
.inst {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--icon-color);
    transition: 250ms var(--timing-function);
}
.network:not(:last-child){
    margin-right: 10px;
}
.inst:hover, 
.inst:focus {
    fill: var(--white-text-color);
    background-color: var(--hover-text-color);
    border-radius: 50%;
}

/* Подвал */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}

.logo-footer {
    margin-bottom: 20px;
}

.maps {
    margin-bottom: 9px;
}

.mail {
    margin-bottom: 9px;
}

.logo-studio-white {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--white-text-color);
}

.footer-adress a {
    font-size: 14px;
    line-height: 1.7;
    color: var(--white-text-color);
    transition: 250ms var(--timing-function);
}

.footer-adress a:hover,
.footer-adress a:focus {
    color: var(--hover-text-color);
}

.auth-footer a {
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
}

.auth-footer a:hover,
.auth-footer a:focus {
    color: var(--hover-text-color);
}

/* Портфолио */
.offer-items {
    margin-bottom: 34px;
}
.offer {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.offer .item:not(:last-child) {
    margin-right: 8px;
}
/* Portfolio img */
.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}
.item-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.photoshop {
    display: block;
}
.item-list {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
    position: relative;
    background-color: #FFFFFF;
    z-index: 2;
}
.item h2 {
    text-align: start;
    margin-bottom: 4px;
}
.item-img .item:not(:nth-child(3n)) {
    margin-right:30px;
}
.item-img .item:not(:nth-child(n+7)) {
    margin-bottom: 30px;
}
.item [type="button"] {
    padding: 6px 22px;
}
button[type="button"] {
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--primary-text-color);
    cursor: pointer;
    border-radius: 4px;
    transition: 250ms var(--timing-function);
}
[type="button"]:hover,
[type="button"]:focus {
    color: var(--white-text-color);
    background-color: var(--hover-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}
.portfolio p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.8;
    color: var(--title-text-color);
}
.item-img .item:hover {
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Портфолио Оверлей2 */

.box2 {
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 250ms var(--timing-function);
}

.box2:hover .overlay2 {
    transform: translatey(0);
}

.overlay2 {
    position: absolute;
    bottom: 109px;
    width: 100%;
    height: 294px;
    padding: 63px 24px;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: 250ms var(--timing-function);
}

.overlay2>p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}


/* Постоянные клиенты */
.section-client {
    padding-top: 94px;
    padding-bottom: 94px;
}

.title-client {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 50px;
}

.client {
    display: flex;
    justify-content: center;
    text-align: center;
}

.client-li:not(:last-child) {
    margin-right: 30px;
}

.client-list {
    width: 170px;
    height: 92px;
}

.client-a {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    fill: var(--icon-color);
    transition: 250ms var(--timing-function);
}

.client-a:hover,
.client-a:focus {
    fill: var(--hover-text-color);
    border: 1px solid #2196F3;
    outline: none;
}

/* Подвал иконки */
.footer-join {
    margin-left: 70px;
}
.footer-join p {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-text-color);
    margin-bottom: 20px;
    padding-top: 10px;
}
.footer-nav {
    display: flex;
}
.icon-footer {
    display: flex;
    align-items: center;
}
.icon-footer li:not(:last-child) {
    margin-right: 10px;
}
.social {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    fill: var(--grey-text-color);
    transition: 250ms var(--timing-function);
}
.social:hover,
.social:focus {
    fill: var(--white-text-color);
    background-color: var(--hover-text-color);
    border-radius: 50%;
} 
/* Submint footer */
.submint_footer {
    margin-left: 93px;
}
.submint_footer .submint-title-footer {
    padding-top: 10px;
    margin-bottom: 20px;
    text-align: start;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.form-footer input {
    padding: 15px auto;
    padding-left: 10px;
    width: 358px;
    height: 50px;
    background: #2F303A;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.form-footer ::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    font-style: normal;
}
.form-footer {
    display: flex;
}
.footer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    background: #2196F3;
    border-radius: 4px;
    color: var(--white-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border: none;
}
.form-footer svg {
    fill: var(--white-text-color);
    margin-left: 10px;
}
